
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewBag.Item.Name</h2>

<div>@ViewBag.Item.Type</div>
<div>@ViewBag.Item.Price</div>
<div>@ViewBag.Item.Year</div>
<div>@ViewBag.Item.Description</div>

