
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewBag.Item.Title</h2>

<div>@ViewBag.Item.Category</div>
<div>@ViewBag.Item.Price</div>
<div>@ViewBag.Item.MadeYear</div>
<div>@ViewBag.Item.Description</div>

