
@{
    ViewData["Title"] = "Details";
}


<table id="sold-item-details">
    <tr>
        <th>Title:</th>
        <td>@ViewBag.Item.Title</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>@ViewBag.Item.Category</td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>@ViewBag.Item.Price</td>
    </tr>
    <tr>
        <th>Year:</th>
        <td>@ViewBag.Item.MadeYear</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>@ViewBag.Item.Description</td>
    </tr>
</table>

