
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<td>@ViewBag.Item.Id</td>
<td>@ViewBag.Item.Name</td>
<td>@ViewBag.Item.Type</td>
<td>@ViewBag.Item.Price</td>
<td>@ViewBag.Item.Year</td>
<td>@ViewBag.Item.Description</td>
<td>@ViewBag.Item.Sold</td>

