@model IEnumerable<BalticMarinasClient.Models.SoldItem>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Year</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ItemsList)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Price</td>
            <td>@item.Year</td>
            <td>@item.Description</td>
        </tr>
        }
    </tbody>
</table>
