
@{
    ViewData["Title"] = "ByCountry";
}

<body>
    <h2>Marinas in Country</h2>

    <table class="marinas-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Depth</th>
                <th>City</th>
                <th>Country</th>
                <th>Berths</th>
                <th>Toilet</th>
                <th>Shower</th>
                <th>Internet</th>
                <th>Details</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.MarinasList)
            {
            <tr>
                <td>@item.MarinaName</td>
                <td>@item.Phone</td>
                <td>@item.Depth</td>
                <td>@item.CityName</td>
                <td>@item.Country</td>
                <td>@item.TotalBerths</td>
                @if (item.IsToilet == 1)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @if (item.IsShower == 1)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @if (item.IsInternet == 1)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@Html.ActionLink("Details", "Details", new { id = item.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</td>
                <td>@Html.ActionLink("Available Berths", "Available", "Berth", new { marinaId = item.MarinaId, checkIn = ViewBag.CheckIn, checkOut = ViewBag.CheckOut }, new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</td>
            </tr>
            }
        </tbody>
    </table>
</body>

