
@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.MarinasList.MarinaName</h1>

<div>@ViewBag.MarinasList.Phone</div>
<div>@ViewBag.MarinasList.Depth</div>
<div>@ViewBag.MarinasList.CityName</div>
<div>@ViewBag.MarinasList.Country</div>
<div>@ViewBag.MarinasList.TotalBerths</div>
<div>@ViewBag.MarinasList.IsInternet</div>
<div>@Html.ActionLink("Available Berths", "Index", "Berth", new { id = @ViewBag.MarinasList.MarinaId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</div>

