
<body>
    <table id="marina-details">
        <tr>
            <th>Marina:</th>
            <td>@ViewBag.MarinasList.MarinaName</td>
        </tr>
        <tr>
            <th>Phone Number:</th>
            <td>@ViewBag.MarinasList.Phone</td>
        </tr>
        <tr>
            <th>Max. Depth:</th>
            <td>@ViewBag.MarinasList.Depth</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>@ViewBag.MarinasList.CityName ,@ViewBag.MarinasList.Country</td>
        </tr>
        <tr>
            <th>Amount of places:</th>
            <td>@ViewBag.MarinasList.TotalBerths</td>
        </tr>
        <tr>
            <th>Shower:</th>
            @if (@ViewBag.MarinasList.IsShower == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
        </tr>
        <tr>
            <th>Toilet:</th>
            @if (@ViewBag.MarinasList.IsToilet == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
        </tr>
        <tr>
            <th>Internet:</th>
            @if (@ViewBag.MarinasList.IsInternet == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
        </tr>
    </table>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="wrapper">
            <div style="display: inline-block; width:33%">@Html.ActionLink("Berths", "Index", "Berth", new { marinaId = @ViewBag.MarinasList.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width button-full-width " })</div>
            <div style="display: inline-block; width:33%">@Html.ActionLink("Edit", "Index", "Berth", new { id = @ViewBag.MarinasList.MarinaId }, new { @class = "btn green-button btn-large buttons-with-70proc-width button-full-width" })</div>
            <div style="display: inline-block; width:34%">@Html.ActionLink("Delete", "Delete", "Marina", new { marinaId = @ViewBag.MarinasList.MarinaId }, new { @class = "btn red-button btn-large buttons-with-70proc-width button-full-width" })</div>
        </div>
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        <div class="wrapper">
            <div style="display: inline-block; width:50%">@Html.ActionLink("Berths", "Index", "Berth", new { marinaid = @ViewBag.MarinasList.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width button-full-width" })</div>
            <div style="display: inline-block; width:50%">@Html.ActionLink("Add Comment", "Create", "Comment", new { marinaId = @ViewBag.MarinasList.MarinaId }, new { @class = "btn green-button btn-large buttons-with-70proc-width button-full-width" })</div>
        </div>
    }
    else
    {
        <div style="display: inline-block; width:100%">@Html.ActionLink("Berths", "Index", "Berth", new { marinaId = @ViewBag.MarinasList.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width button-full-width" })</div>
    }


    @foreach (var item in ViewBag.ItemsList)
    {
        <ul class="comment-list">
            <li><h3>@item.UserName</h3></li>
            <li>@item.TimePlaced</li>
            <li>@item.Body</li>
        </ul>
    }
</body>