
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewBag.MarinasList.MarinaName Details</h2>

<td>@ViewBag.MarinasList.MarinaName</td>
<td>@ViewBag.MarinasList.Phone</td>
<td>@ViewBag.MarinasList.Depth</td>
<td>@ViewBag.MarinasList.CityName</td>
<td>@ViewBag.MarinasList.Country</td>
<td>@ViewBag.MarinasList.TotalBerths</td>
<td>@ViewBag.MarinasList.IsInternet</td>
<td>@Html.ActionLink("More Information", "Index", "Berth", new { id = @ViewBag.MarinasList.MarinaId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</td>

