
@{
    ViewData["Title"] = "Details";
}

<body>
    <ul class="details">
        <li><h1>@ViewBag.MarinasList.MarinaName</h1></li>
        <li><h4>Phone number: @ViewBag.MarinasList.Phone</h4></li>
        <li><h4>Average Depth: @ViewBag.MarinasList.Depth</h4></li>
        <li><h4>Location: @ViewBag.MarinasList.CityName ,@ViewBag.MarinasList.Country</h4></li>
        <li><h4>Amount of berths: @ViewBag.MarinasList.TotalBerths</h4></li>
        @if (@ViewBag.MarinasList.IsShower == 1)
        {
            <li><h4>Shower: Yes</h4></li>
        }
        else
        {
            <li><h4>Shower: No</h4></li>
        }

        @if (@ViewBag.MarinasList.IsToilet == 1)
        {
            <li><h4>Toilet: Yes</h4></li>
        }
        else
        {
            <li><h4>Toilet: No</h4></li>
        }

        @if (@ViewBag.MarinasList.IsInternet == 1)
        {
            <li><h4>Internet: Yes</h4></li>
        }
        else
        {
            <li><h4>Internet: No</h4></li>
        }
        <li>@Html.ActionLink("Available Berths", "Index", "Berth", new { id = @ViewBag.MarinasList.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</li>
        <li>@Html.ActionLink("Add Comment", "Create", "Comment", new { MarinaId = @ViewBag.MarinasList.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</li>
    </ul>

    @foreach (var item in ViewBag.ItemsList)
    {
        <ul class="comment-list">
            <li><h3>@item.UserName</h3></li>
            <li>@item.TimePlaced</li>
            <li>@item.Body</li>
        </ul>
    }
</body>