
@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

@using (Html.BeginForm("Reserve", "Reservation", FormMethod.Get))
{
    <p>
        <div class="row">
            <div class="col-md-9" style="display:inline-block">
                <div class="row">
                    <div class="col-md-9">
                        <div>
                            @Html.DisplayName("Card Holders Name")
                            <br />
                            @Html.TextBox("cardHoldersName", "", new { @class = "account-input" })
                        </div>
                        <div>
                            @Html.DisplayName("Card Number")
                            <br />
                            @Html.TextBox("cardNumber", "", new { @class = "account-input" })
                        </div>
                        <div>
                            @Html.DisplayName("CVR")
                            <br />
                            @Html.TextBox("cvr", "", new { @class = "account-input" })
                        </div>
                        <div>
                            <button style="width:70%; margin-top: 15px" type="submit" value="Filter" class="btn blue-button btn-small btn-block"> <span class="glyphicon glyphicon-ok"></span> @Html.DisplayName("Confirmation")</button>
                        </div>
                        @Html.Hidden("checkIn", (string)ViewBag.CheckIn)
                        @Html.Hidden("checkOut", (string)ViewBag.CheckOut)
                        @Html.Hidden("berthId", (int)ViewBag.BerthId)
                        @Html.Hidden("email", (string)ViewBag.Email)
                        @Html.Hidden("reservationId", (int)ViewBag.ReservationId)
                        <br />
                    </div>
                    <div class="col-md-3">   
                    </div>
                </div>
            </div>
        </div>
    </p>
}

