
@{
    ViewData["Title"] = "PersonalInformation";
}

<h2>Personal Information</h2>

@using (Html.BeginForm("Payment", "Reservation", FormMethod.Get))
{
<p>
    <div class="row">
        <div class="col-md-9" style="display:inline-block">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        @Html.DisplayName("CheckIn Day")
                        <br />
                        @Html.TextBox("checkIn", (string)ViewBag.CheckIn, new { @readonly = "readonly", @class = "account-input" })
                    </div>
                    <div>
                        @Html.DisplayName("CheckOut Day")
                        <br />
                        @Html.TextBox("checkOut", (string)ViewBag.CheckOut, new { @readonly = "readonly", @class = "account-input" })
                    </div>
                    <div>
                        @Html.DisplayName("Phone number")
                        <br />
                        @Html.TextBox("phoneNumber", "", new { @class = "account-input" })
                    </div>
                    @Html.Hidden("berthId", (int)ViewBag.BerthId)
                </div>
                    <div class="col-md-6">
                        <div>
                            @Html.DisplayName("Name")
                            <br />
                            @Html.TextBox("name", "", new { @class = "account-input" })
                        </div>
                        <div>
                            @Html.DisplayName("Surname")
                            <br />
                            @Html.TextBox("surname", "", new { @class = "account-input" })
                        </div>
                        <div>
                            @Html.DisplayName("Email")
                            <br />
                            @Html.TextBox("email", (string)ViewBag.Email, new { @class = "account-input" })
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" style="display:inline-block">
            <div class="row">
                <div class="col-md-6">
                    <button style="width:70%; margin-top: 15px" type="submit" value="Filter" class="btn btn-primary btn-small btn-block"> <span style="display:block; float: right;" class="glyphicon glyphicon-menu-right"></span>  @Html.DisplayName("Proceed to Payment") </button>
                </div>
            </div>
        </div>
    </div>
</p>
}

