
@{
    ViewData["Title"] = "Index";
}

<body>
    <h2 class="title">List of Berths</h2>

    <table class="berths-table">
        <thead>
            <tr>
                <th>Berth Number</th>
                <th>Price per Day</th>
                <th>Details</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th>Delete</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.BerthsList)
            {
            <tr>
                <td>@item.BerthId</td>
                <td>@item.Price €</td>
                <td>@Html.ActionLink("", "Details", new { marinaId = item.MarinaId, berthId = item.BerthId }, new { @class = "btn blue-button-square btn-large buttons-with-70proc-width glyphicon glyphicon-stats" })</td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                <td>@Html.ActionLink("", "Delete", new { berthId = item.BerthId }, new { @class = "btn red-button-square btn-large buttons-with-70proc-width glyphicon glyphicon-trash" })</td>
                }
            </tr>
            }
        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <div style="display: inline-block; margin-right: 10px">@Html.ActionLink("Add Berth", "Create", "Berth", new { marinaId = ViewBag.MarinaId }, new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</div>
        </div>
    }
</body>
