
@{
    ViewData["Title"] = "Create";
}

<h2>Create new Event</h2>

@using (Html.BeginForm("Create", "Event", FormMethod.Post))

{
    <p>
        <div class="row">
            <div class="col-md-9" style="display:inline-block">
                <div class="row">
                    <div class="col-md-6" id="search-inputs-div">
                        <br />
                        @Html.DisplayName("Title")
                        @Html.TextBox("title", "")
                        <br />
                        @Html.DisplayName("Location")
                        @Html.TextBox("location", "")
                        <br />
                        @Html.DisplayName("Period")
                        @Html.TextBox("period", "")
                        <br />
                        @Html.DisplayName("Description")
                        @Html.TextBox("description", "")
                        <br />
                    </div>
                    <div class="col-md-6" id="search-projects-buttons">
                        <button style="width:70%" type="submit" value="Filter" class="btn btn-primary btn-small btn-block"> @Html.DisplayName("Create Event")</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </p>
}

