@model IEnumerable<BalticMarinasClient.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Text</th>
            <th>More</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.EventsList)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.Text</td>
            <td>@Html.ActionLink("More Information", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</td>
            <td>@Html.ActionLink("Deleting", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</td>
        </tr>
        }
    </tbody>
</table>
