@model IEnumerable<BalticMarinasClient.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2 class="title">Events</h2>

    <table id="events-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Period</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.EventsList)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Location</td>
                    <td>@item.Period</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("", "Details", new { id = item.EventId }, new { @class = "btn blue-button-square btn-large buttons-with-70proc-width glyphicon glyphicon-stats" })</td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>@Html.ActionLink("", "Delete", new { id = item.EventId }, new { @class = "btn red-button-square btn-large buttons-with-70proc-width glyphicon glyphicon-trash" })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <div style="display: inline-block; margin-right: 10px">@Html.ActionLink("Add Event", "Create", "Event", new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</div>
        </div>
    }
</body>
