@{
    ViewData["Title"] = "IndexUser";
}

<h2>IndexUser</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Period</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ItemsList)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Location</td>
                <td>@item.Period</td>
                <td>@item.Description</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("New event", "Create", new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })
</table>