@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("ByCountry", "Marina", FormMethod.Get))

{
    <p>
        <div class="row">
            <div class="col-md-9" style="display:inline-block">
                <div class="row">
                    <div class="col-md-6" id="search-inputs-div">
                        <br />
                        @Html.DisplayName("Country")
                        @Html.TextBox("country", "", new { @id = "to-price-textbox" })
                        <br />
                        @Html.DisplayName("CheckIn")
                        @Html.TextBox("checkIn", "", new { @id = "to-price-textbox" })
                        <br />
                        @Html.DisplayName("CheckOut")
                        @Html.TextBox("checkOut", "", new { @id = "to-price-textbox" })
                        <br />
                    </div>
                    <div class="col-md-6" id="search-projects-buttons">
                        <button style="width:70%" type="submit" value="Filter" class="btn btn-primary btn-small btn-block"> <span class="glyphicon glyphicon-search"></span> @Html.DisplayName("Search")</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </p>
}

    <div data-interval="6000">
    </div>
